@model List<SantaSIon.Models.Evento>

@{
    ViewData["Title"] = "Iglesia Santa Sion";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>

    <div class="center-box">
        <div class="tablon-anuncios">
            @if (Model != null)
            {
                @foreach (var evento in Model)
                {
                    <div class="anuncio">
                        <h2>@evento.Titulo</h2>
                        @if (!string.IsNullOrEmpty(evento.Descripcion))
                        {
                            <p>@Html.Raw(evento.Descripcion.Replace("\n", "<br>").Replace("\r", ""))</p>
                        }
                        <p class="event-dates">
                            Fecha: @evento.FechaInicio?.ToShortDateString() @if (evento.FechaFin.HasValue && evento.FechaInicio != evento.FechaFin)
                            {
                                <text>- @evento.FechaFin?.ToShortDateString()</text>
                                ;
                            }
                        </p>


                        <p class="event-hours">
                            Hora: @evento.HoraInicio - @evento.HoraFin
                        </p>
                    </div>
                }
            }
            else
            {
                <p>No hay eventos disponibles.</p>
            }
        </div>
    </div>


</body>
</html>
